In [1]:
import pandas as pd
import numpy as np
import re

### Clean and standardize the data

In [10]:
file_path = "ufo_data.csv"
df = pd.read_csv(file_path)

df_dropped_nas = df.dropna(subset=["shape", "duration", "occurred_date_time"])


# Cleaning function takes in dataframe, column, and patterns to filter out worthless and/or inconsistent values
# Function also standardizes the date and filters out the time in "occurred_date_time" column
def clean_dataframe(df, column_name, patterns):
    for pattern in patterns:
        df = df[~df[column_name].str.contains(pattern, regex=True, na=False)]

    df[column_name] = pd.to_datetime(df[column_name], errors="coerce", format="%m/%d/%y %H:%M")

    df = df.dropna(subset=[column_name])

    df[column_name] = df[column_name].dt.strftime('%m/%d/%y')
    
    return df

column_name = "occurred_date_time"
patterns = [r'\?', r'unknown', r'&', r'ongoing']

df_cleaned_dates = clean_dataframe(df_dropped_nas, column_name, patterns)

# Cleaning function to standardize time measurement in "duration" column to seconds
def clean_duration(df, column_name, filter_values):
    pattern = "|".join(filter_values)
    df_cleaned = df[~df[column_name].str.contains(pattern, case=False, na=False)]

    def convert_to_seconds(duration):
    
        duration = duration.lower()

        match = re.match(r'(\d+)\s*(seconds|minutes|hours?)', duration)

        if match:
            value = int(match.group(1))
            unit = match.group(2)

            if 'second' in unit:
                return value
            elif 'minute' in unit:
                return value * 60
            elif 'hour' in unit:
                return value * 3600
        return None
        
    df_cleaned.loc[:, column_name] = df_cleaned[column_name].apply(convert_to_seconds)
    df_cleaned = df_cleaned.dropna(subset=[column_name])
    return df_cleaned

filter_values = ["months", "years", "constant", "few", "ongoing"]

df_cleaned_duration = clean_duration(df_cleaned_dates, "duration", filter_values)

# Cleaning function to filter out non-US locations
def clean_city(df, column_name, filter_values):
    pattern = "|".join(filter_values)
    df = df[~df[column_name].str.contains(pattern, case=False, regex=True, na=False)]

    df = df.dropna(subset=[column_name])

    return df

city_filters = ["(Canada)", "(Portugal)", "(Spain)", "(Germany)", "(UK)", "(England)", "(Brazil)", "(Ecuador)", 
                "(Estonia)", "(Puerto Rico)", "(South Africa)", "(France)", "(Philippines)", "(Nigeria)", 
                "(Holland)", "(Australia)", "(Ireland)", "(Colombia)", "(Scotland)", "(Cyprus)", "(South Korea)",
                "(Norway)", "(Croatia)", "(Italy)", "(Singapore)", "(Chile)", "(Malta)", "(Greece)", "(Syria)", 
                "(Sweden)", "(Kyrgyzstan)", "(Myanmar)", "(Japan)", "(Mexico)", "(Argentina)", "(Egypt)", "(Poland)",
                "(Turkey)", "(Iraq)", "(India)", "(Jamaica)", "(Malaysia)", "(Venezuela)", "(Israel)", "(Kosovo)", 
                "(Belize)", "(Belgium)", "(Jordan)", "(Costa Rica)", "(Netherlands)", "(The Netherlands)", "(New Zealand)",
                "(Corsica)", "(in former Yugoslavia)", "(Bahamas)", "(location unspecified)", "(Serbia)"] 

df_cleaned_city = clean_city(df_cleaned_duration, "city", city_filters)

df_cleaned_city.dropna()
df_cleaned_city['shape'] = df_cleaned_city['shape'].str.lower()
df_cleaned_city['state'] = df_cleaned_city['state'].str.upper()

output_path = "cleaned_data.csv"
df_cleaned_city.to_csv(output_path, index=False)

C:\Users\kylea\AppData\Local\Temp\ipykernel_10300\3359841184.py:60: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df = df[~df[column_name].str.contains(pattern, case=False, regex=True, na=False)]

### Calculate basic statistics

In [11]:
# import cleaned dataset
cleaned_file_path = "cleaned_data.csv"
df = pd.read_csv(cleaned_file_path)

# Mean, median, and mode of duration
mean_duration = df['duration'].mean().round(2)
median_duration = df['duration'].median()
mode_duration = df['duration'].mode()[0]

print(f"Mean duration: {mean_duration}")
print(f"Median duration: {median_duration}")
print(f"Mode duration: {mode_duration}")
print("\n")

# Mean duration for each state
state_group = df.groupby('state')['duration'].mean()
print(state_group)

# Find outlier durations using interquartile range method

# get q1 and q3
q1 = df['duration'].quantile(0.25)
q3 = df['duration'].quantile(0.75)

# get iqr
iqr = q3 - q1

# get upper and lower bounds
lower_bound = q1 - 1.5 * iqr
upper_bound = q3 + 1.5 * iqr

# get outliers
outliers = df[(df['duration'] < lower_bound) | (df['duration'] > upper_bound)]

print(outliers)

Mean duration: 940.0
Median duration: 240.0
Mode duration: 300.0


state
AB     346.800000
AK    1161.898601
AL    1001.841918
AR     950.639640
AZ    1181.462838
BC     257.444444
CA     846.606674
CO     890.937357
CT     937.229746
DC     552.078125
DE     686.480874
FL     941.028173
GA     948.928508
HI     977.922819
IA     765.671488
ID     973.246296
IL     749.204927
IN     852.385051
KS    1086.006369
KY    1036.077266
LA     771.297539
MA     893.998214
MB    8510.000000
MD     851.558999
ME    1110.417695
MI     907.054832
MN     983.835771
MO     903.386835
MS    1167.536184
MT    1108.045977
NB      40.000000
NC     904.314650
ND     861.902439
NE    1084.672794
NH     897.764000
NJ     824.870355
NM    1287.278891
NS      10.000000
NV    1255.871942
NY     823.685821
OH    1065.846323
OK    1260.429293
ON     480.000000
OR     954.332398
PA    1035.523047
RI     706.211155
SC     853.958292
SD    1214.745223
SK     960.000000
TN    1190.494737
TX     931.123488
UT    1192.556856
VA     882.561807
VT     696.483395
WA     886.372212
WI     755.888303
WV     864.295165
WY    1124.205882
YT     180.000000
Name: duration, dtype: float64
           id occurred_date_time            city state     shape  duration  \
4      147509           07/11/19   Bowling Green    KY     other    2700.0
11     147503           07/11/19       Glenville    WV   unknown    3600.0
12     147468           07/10/19          Duluth    GA  cylinder    7200.0
16     147501           07/10/19     Santa Maria    CA    sphere    1800.0
20     147464           07/10/19        Columbus    OH   unknown    3600.0
...       ...                ...             ...   ...       ...       ...
54345  109807           07/06/05        Portland    OR    sphere    3600.0
54346  143818           12/30/99     Saint Cloud    FL    circle    2400.0
54352  146112           04/11/01          Harlem    NY    circle    1500.0
54353   19571           09/16/01  Bonita Springs    FL    circle    7200.0
54354   13896           08/24/00           Adams    NY     light    3600.0

                                                 summary  \
4      Me and my girlfriend watched as we first seen ...
11     ((HOAX??))  Fast moving across the night sky, ...
12     Several bright lights.  Some where solid white...
16     Wednesday July, 6 around 7:30pm there was a la...
20     Hovering in one spot with red, green and white...
...                                                  ...
54345                Historical UFO sighting--July 1905.
54346  Bright light, I have a photograph and video.  ...
54352  Silent, shiny object moved up, down, across, t...
54353                         THEY  WERE IN A Z PATTERN.
54354                   8 ufos sighted over midnight sky

                                             details_url posted_date
4      http://www.nuforc.org/webreports/147/S147509.html     7/12/19
11     http://www.nuforc.org/webreports/147/S147503.html     7/12/19
12     http://www.nuforc.org/webreports/147/S147468.html     7/12/19
16     http://www.nuforc.org/webreports/147/S147501.html     7/12/19
20     http://www.nuforc.org/webreports/147/S147464.html     7/12/19
...                                                  ...         ...
54345  http://www.nuforc.org/webreports/109/S109807.html      6/4/14
54346  http://www.nuforc.org/webreports/143/S143818.html    11/24/18
54352  http://www.nuforc.org/webreports/146/S146112.html     5/14/19
54353   http://www.nuforc.org/webreports/019/S19571.html    10/12/01
54354   http://www.nuforc.org/webreports/013/S13896.html     9/17/00

[7716 rows x 9 columns]

In [12]:
# Most commonly reported shape

most_common_shape = df['shape'].value_counts().idxmax()
most_common_shape_count = df['shape'].value_counts().max()

print(f"The most commonly reported shape is {most_common_shape} with {most_common_shape_count} reports")
print("\n")

# count of all reported shapes

shape_counts = df['shape'].value_counts()

print(f"{shape_counts}")

The most commonly reported shape is light with 11577 reports


shape
light        11577
circle        6195
triangle      5193
fireball      4597
sphere        3878
unknown       3718
other         3585
disk          3023
oval          2473
formation     1792
changing      1362
cigar         1311
rectangle      947
flash          946
cylinder       877
diamond        829
chevron        723
teardrop       477
egg            469
cone           207
cross          172
delta            3
flare            1
changed          1
Name: count, dtype: int64

In [13]:
# most reports per state

most_common_state = df['state'].value_counts().idxmax()
most_common_state_count = df['state'].value_counts().max()

print(f"{most_common_state} has the most reported sightings with {most_common_state_count} total sightings")

# sightings per state

state_counts = df['state'].value_counts()

print(f"{state_counts}")

CA has the most reported sightings with 6773 total sightings
state
CA    6773
FL    3443
WA    2735
NY    2419
TX    2397
AZ    2072
PA    2061
OH    1822
IL    1786
NC    1570
MI    1459
OR    1426
CO    1309
NJ    1211
VA    1173
GA    1133
MA    1120
MO    1109
SC    1007
TN     950
WI     949
MN     889
IN     883
MD     839
CT     827
NV     695
KY     673
NM     649
UT     598
OK     594
AL     563
ID     540
NH     500
ME     486
IA     484
KS     471
LA     447
AR     444
MT     435
WV     393
MS     304
HI     298
AK     286
NE     272
VT     271
RI     251
DE     183
WY     170
SD     157
ND     123
DC      64
AB      10
BC       9
ON       8
MB       3
SK       2
YT       1
NS       1
NB       1
Name: count, dtype: int64